html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  line-height: 1.5;
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
}

* {
  box-sizing: inherit;
}

/* font-family: "PT Sans", sans-serif;
font-family: "PT Serif", serif; */
h1, h2, nav a {
  font-family: "PT Sans", sans-serif;
}

h1, h2 {
  color: #3f1622;
}

h1 {
  font-size: 1.5rem;
}

nav ul {
  list-style-type: none;
}

aside ul, cite, footer {
  font-size: 0.8rem;
}

a {
  color: #8f2440;
  text-decoration: none;
}
a:hover {
  color: #222;
  text-decoration: underline;
}

blockquote p {
  font-size: 1.5rem;
  font-style: italic;
}

section p:first-child {
  font-weight: bold;
}

figure + p {
  font-weight: bold;
}
