html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #c9b5ab;
  line-height: 1.5;
  font-family: "PT Serif", serif;
  font-size: 1rem;
  font-weight: normal;
}

* {
  box-sizing: inherit;
}

h1, .tags, nav a {
  font-family: "PT Sans", sans-serif;
}

h1, h2 {
  color: #222;
}

h1 {
  font-size: 1.5rem;
}

nav ol {
  list-style-type: none;
}

aside ul, cite, footer {
  font-size: .8rem;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

blockquote p {
  font-size: 1.5rem;
  font-style: italic;
}

section p:first-child {
  font-weight: bold;
}

figure + p {
  font-weight: bold;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-weight: normal;
}

img {
  width: 100%;
  height: auto;
}

section ol {
  list-style-type: lower-greek;
}

dt {
  font-weight: bold;
}

.no-bold {
  font-weight: normal;
}

aside ul {
  list-style-type: circle;
}
